body {
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
}
p {display: none;}
button {
  border: none;
background-color: white;
  }
  .gridlayout {
    border: solid white;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 
    grid-template-columns: ;
  }
