body {
  background: linear-gradient(#af67e9, #6565e7);
  height: 100vh;
}
p {display: none;}
button {
  border: none;
background-color: white;
  }
  main {
    align-items: center;
  }
  .gridlayout {
    border: solid white;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(5, 20%);
    height: 40em;
  }
